<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PaySimple:ApiEndpoint" value="https://sandbox-api.paysimple.com" />
    <add key="PaySimple:UserName" value="YourUserName" />
    <add key="PaySimple:Secret" value="YourApiSecret" />
  </appSettings>
</configuration>
